<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#ffffff">
    <meta name="color-scheme" content="dark">
    <meta name="msapplication-config" content="/browserconfig.xml">

    <title>{{title}}{{#if title}} - {{/if}}Sebastian Pernthaler</title>
    <meta name="description" content="{{description}}">
    <meta name="keywords" content="react, website, express">
    <meta name="author" content="Sebastian Pernthaler">

    <meta name="og:title" content="{{title}}{{#unless title}}Sebastian Pernthaler{{/unless}}">
    <meta name="og:site_name" content="Sebastian Pernthaler">
    <meta name="og:description" content="{{description}}">
    <meta name="og:image" content="{{domain}}/favicon.png">
    <meta name="og:type" content="website">
    <meta name="og:url" content="{{url}}">

    <meta name="twitter:title" content="{{title}}{{#unless title}}Sebastian Pernthaler{{/unless}}">
    <meta name="twitter:description" content="{{description}}">
    <meta name="twitter:image" content="{{domain}}/favicon.png">
    <meta name="twitter:card" content="summary">

    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="author" href="/humans.txt">
    <link rel="stylesheet" href="/{{manifest.[client.css]}}">

    <link rel="preload" href="/{{manifest.[Lato-Regular.woff2]}}" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/{{manifest.[Lato-Regular.woff]}}" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="/{{manifest.[Lato-Bold.woff2]}}" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/{{manifest.[Lato-Bold.woff]}}" as="font" type="font/woff" crossorigin>
  </head>

  <body>
    <div id="root">{{{content}}}</div>
    <script src="/{{manifest.[client.js]}}"></script>
  </body>
</html>